In [1]:
#legal
_Count=50
print(_Count)

50

In [2]:
#legal
Sales_amount=20
print(Sales_amount)

20

In [3]:
#legal
Age20=50
print(Age20)

50

In [5]:
#legal
Name_3="Arshad"
print(Name_3)

Arshad

In [6]:
#legal
_File_name="Python"
print(_File_name)

Python

In [7]:
#illegal
2File=30
print(2File)

SyntaxError: invalid decimal literal (2216169897.py, line 2)

In [8]:
#illegal
My file="Python"
print(My file)

SyntaxError: invalid syntax (3284660930.py, line 2)

In [9]:
#illegal
Student-name="Arshad"
print(Student-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3272546579.py, line 2)

In [10]:
#illegal
Id@=1024
print(Id@)

SyntaxError: invalid syntax (2002578633.py, line 3)

In [12]:
#illegal
-Name="Akash"
print(-Name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4269021483.py, line 2)